@if (ViewBag.Recipe != null)
{
<div class="flex-container-column">
    <div class="title">@ViewBag.Recipe.Name</div>
    <div>
        <div>
            <div class="section">
                <table class="element">
                    <thead>
                        <tr>
                            <th scope="col">Ingredients</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ingredient in ViewBag.Recipe.Ingredients)
                        {
                            <tr>
                                <td>@ingredient.Amount @ingredient.MeasuringUnit</td>
                                <td>@ingredient.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section">
            <table class="element">
                <thead>
                    <tr>
                        <th scope="col">Steps</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var step in ViewBag.Recipe.Steps)
                    {
                        <tr>
                            <td>@step.Order</td>
                            <td>@step.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
}
<h3>@ViewBag.NoRecipe</h3>